{% extends "base.html" %} {% block content %}
<h1>Mental Health Tracker</h1>

<h5>Nama Aplikasi:</h5>
<p>{{ nama_app }}</p>
<h5>Nama:</h5>
<p>{{ nama }}</p>
<h5>Kelas:</h5>
<p>{{ kelas }}</p>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  {% for product in products %}
  <tr>
    <th>{{ product.id }}</th>
    <th>{{ product.name }}</th>
    <th>{{ product.price }}</th>
    <th>{{ product.description }}</th>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'main:create_product' %}">
  <button>Create a new product</button>
</a>
{% endblock %}
